li {
	list-style-type:none;	
}

#tabs .tabbed_nav li {
	display: inline;
}

#tabs .tabbed_nav {
	padding: 0px;
}

#tabs .tabbed_nav li.active {
	background-color: red;
}

#tabs .tab_content div.active {
	display:block;
}

#tabs .tab_content div {
	display:none;
}

#slideshow {
	text-align: center;
	width: 700px;
	margin: 10px auto;
	overflow:hidden;
}

#slideshow .slides li {
	opacity:0;
	height: 0px;
	transition: 2s ease 0s;
}

#slideshow .slides li.active {
	opacity:1;
	height: auto;
}

#slideshow .controls.no-forward a.next{
	display:none;
}

#slideshow .controls.no-previous a.back {
	display:none;
}