#slideshow {
	overflow:hidden;
}

#slideshow .slides li {
	opacity:0;
	height: 0px;
	transition: 2s ease 0s;
}

#slideshow .slides li.active {
	opacity:1;
	height: auto;
}

#slideshow.no-more-slides .slides {
	display:none;
}

#slideshow.no-more-slides .controls {
	display:none;
}

#slideshow .error {
	display: none;
}

#slideshow.no-more-slides .error {
	color: red;
	display:block;
}


#tabs .tabbed_nav li {
	text-align: center;
	list-style-type: none;
	display: inline;
}

#tabs ul.tabbed_nav {
	color: red;
	margin: 0px;
	padding: 0px;	
}

#tabs .tab_content div {
	display: none;
}
#tabs .tab_content div.active {
	display: block;
}

